---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
	<h2>Vercellesi nel Mondo</h2>
	<nav class="container-menu-vnm">
		<ul>
			<li class="menu-vnm"><a class="btn btn-ghost" href="/vercellesi-nel-mondo/documenti">Documenti</a></li>
			<li class="menu-vnm"><a class="btn btn-ghost" href="/vercellesi-nel-mondo/passaporto">Passaporto</a></li>
			<li class="menu-vnm"><a class="btn btn-ghost" href="/vercellesi-nel-mondo/interviste">Interviste</a></li>
			<li class="menu-vnm"><a class="btn btn-ghost" href="/vercellesi-nel-mondo/raduno">Raduno</a></li>
		</ul>
	</nav>
	<iframe src="https://www.google.com/maps/d/embed?mid=1T5K1jYvR2v3E3mcxyAqT3xmRVWA&hl=it" id="iframe-vnm"></iframe>
</Layout>

<style>
	.container-menu-vnm {
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 1rem;
		}
	}

	iframe {
		margin: 2rem -1rem 0;
		width: calc(100% + 2rem);
		height: 0;
		padding-bottom: 150%;

		@media (min-width: 600px) {
			height: 40rem;
			padding-bottom: 0;
		}
	}
</style>
