/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
  margin: 0 0 1.5em;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root {
	--font-body: 'Neuton', serif;
	--font-display: 'Neuton SC', serif;
	--font-cursive: 'Neuton Cursive', serif;
	--font-ss: 'Alte Haas Grotesk', sans-serif;

	--color-dark: hsl(13, 9%, 10%);
	--color-grey-dark: hsl(13, 7%, 40%);
	--color-grey: hsl(13, 5%, 60%);
	--color-grey-light: hsl(13, 3%, 80%);
	--color-grey-lighter: hsl(13, 1%, 90%);
	--color-grey-lightest: hsl(13, 0%, 95%);
	--color-light: hsl(13, 5%, 98%);
	--color-primary-lighter: hsl(13, 60%, 60%);
	--color-primary-light: hsl(13, 65%, 50%);
	--color-primary: hsl(13, 70%, 40%);
	--color-primary-dark: hsl(13, 75%, 30%);
}

html,
body {
	margin: 0;
	width: 100%;
	min-height: 100%;
	font-family: var(--font-body);
	font-weight: 400;
	font-size: 18px;
	line-height: 1.4;
	color: var(--color-dark);
}

html {
	scroll-behavior: smooth;
	background-color: var(--color-grey-lightest);
	background-image: url('/src/assets/images/background.svg');
}

body {
	//background-color: var(--color-light);
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	line-height: 1.2;
	margin: 1.5em 0 0.5em;
}

h1 {
	font-family: var(--font-display);
	font-size: 2.5rem;
}

h2 {
	font-family: var(--font-display);
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

/* Other global styles */

a {
	color: inherit;
	text-decoration: none;
}

.btn {
	display: inline-block;
	padding: 0.5rem 1rem;
	background-color: var(--color-grey-light);
	border: none;
	border-radius: .25rem;
	cursor: pointer;
	transition: background-color 0.3s;
	font-family: var(--font-cursive);
	
	&:hover {
		background-color: var(--color-grey);
	}

	&.btn-primary {
		background-color: var(--color-primary);
		color: var(--color-light);

		&:hover {
			background-color: var(--color-primary-dark);
		}
	}

	&.btn-ghost {
		background-color: transparent;
		border: .125rem solid var(--color-primary);
		color: var(--color-primary);

		&:hover {
			background-color: var(--color-primary);
			color: var(--color-light);
		}
	}

	&.btn-invisible {
		background-color: transparent;
		color: var(--color-primary);
		padding: 0;
		
		&:hover {
			text-decoration: underline;
			background-color: transparent;
		}
	}
}

.card {
	background-color: var(--color-light);
	padding: 2rem;
	border: .0625rem solid var(--color-grey-lighter);
	border-radius: .25rem;
}

figure {
	margin: 1rem 0;

	img {
		width: 100%;
		height: auto;
		border-radius: .25rem;
	}

	figcaption {
		font-family: var(--font-ss);
		font-size: 0.875rem;
		color: var(--color-grey-dark);
		text-align: center;
		margin: 0;
		padding: 0.5rem 0;
		border-bottom: 1px solid var(--color-grey-lighter);
	}
}

signature {
	display: grid;
	grid-template: ". author" auto / 1fr auto;
	font-family: var(--font-cursive);
	font-size: 1em;
	color: var(--color-grey-dark);

	author {
		grid-area: author;
		font-weight: bold;
		padding: 0 4rem 0 0;

		title {
			display: block;
			font-style: italic;
			font-weight: normal;
			font-size: 0.875em;
		}
	}
}
