---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<h2>Il Progetto Grande Vercelli</h2>
	<h3>Vercelli è seduta su un tesoro, ma continua a ignorarlo.</h3>
	<p>Ed è un tesoro così straordinario, e grande, che la classe politica cittadina non è mai stata capace di capirne le dimensioni: 
		sono le dimensioni di una straordinaria città antica, i cui monumenti non solo rappresentano pagine della nostra storia e identità comunitaria, 
		ma anche un potenziale turistico di livello nazionale.</p>
	<p>È come se la classe politica "moderna" si fosse finora dimostrata troppo piccola, di fronte all'enormità di questo potenziale. Incapace di esserne all'altezza.</p>
	<p>Gli ultimi ritrovamenti bimillenari della città romana (il cosiddetto "opificio", a fianco dello stadio della Pro) hanno riproposto con urgenza il problema: 
		quando smetteremo di distruggere? Quando scopriremo che la nostra grande storia è un patrimonio da riscoprire e valorizzare?</p>
	<p>Questo è il senso del nostro progetto, che abbiamo chiamato <strong>"Grande Vercelli"</strong>.</p>
	<p>Siamo un gruppo di associazioni culturali e sociali che si sono unite per questa iniziativa attorno a un tavolo che abbiamo chiamato <strong>"La Rete"</strong>. 
		E questo tavolo è e resterà aperto a chiunque altro voglia collaborare, e aggiungersi. TUTTI sono i benvenuti.</p>
	<p>È infatti la prima volta che associazioni diverse si uniscono su un tema comune: UNITÀ DI INTENTI. 
		È questo ciò che è sempre mancato alla nostra città.</p>
	<h3>Ci rivolgiamo quindi a tutti i vercellesi.</h3>
	<p>"La Rete" è aperta a chiunque voglia dare una mano.</p>
	<p>Il nostro Comune non ha mai avuto una politica per i beni culturali, per salvare e valorizzare il tesoro su cui siamo letteralmente seduti.</p>
	<p>Bisogna cambiare. E questa è una buona occasione.</p>
	<p>Ai vercellesi chiediamo aiuto.</p>
	<p><strong>Non c'è cultura, non c'è futuro per una comunità che distrugge la propria storia</strong>. 
		Noi vogliamo salvarla perché sono le nostre radici, ma anche perché ritrovare quel tesoro è un ottimo investimento anche economico. Si chiama <strong>turismo</strong>.</p>
</Layout>