---
import Icon from "../components/Icon.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<h2>L'Associazione</h2>

	<p>La Rete è un luogo di incontro.</p>
	<p>
		La Rete è un tavolo attorno al quale si ritrovano persone e associazioni 
		che vogliono costruire insieme qualcosa di buono per la loro città e territorio: 
		Vercelli e il Vercellese.
	</p>
	<p>
		La Rete è un progetto condiviso. È l'idea che una grande e meravigliosa città, 
		insieme al suo territorio circostante, merita attenzioni che in buona parte finora non ha avuto, 
		soprattutto quando si tratta di riscoprirne la storia, la cultura, le tradizioni e la modernità.
	</p>
	<p>La Rete è un progetto aperto a tutti i Vercellesi.</p>

	<h3>Chi siamo</h3>

	<h4>Comitato direttivo</h4>
	<p>
		Il Comitato Direttivo è composto da 22 persone che rappresentano 
		sia i Soci Ordinari sia i Soci Sostenitori.
	</p>
	<p>
		Le riunioni del Direttivo sono aperte a tutti coloro che vogliano dare un contributo di idee, 
		di proposte ed eventualmente anche di attività.
	</p>
	<p>
		Per <em>ricevere informazioni ed inviti alle attività</em> della Rete, 
		basta inviare la propria email a <a href="mailto:grandevercelli@gmail.com">grandevercelli@gmail.com</a> 
		o iscriversi alla Pagina Facebook <a href="https://www.facebook.com/laretevercelli">La Rete Vercelli</a>.
	</p>

	<h4>
		Responsabili operativi
	</h4>
	<dl>
		<dt>Presidente</dt>
		<dd>Col. Furio Cellati</dd>

		<dt>Coordinatore</dt>
		<dd>Dott. Maurizio Roccato
			<a href="mailto:maurizio.roccato.73@gmail.com"><Icon name="ui-email" /></a>
		</dd>

		<dt>Realizzazioni</dt>
		<dd>P. Ind. Daniele Roccato
			<a href="mailto:droccato@alice.it"><Icon name="ui-email" /></a>
		</dd>

		<dt>Segretario</dt>
		<dd>Ing. Giovanni Mercuri
			<a href="mailto:gianni@welovemercuri.com"><Icon name="ui-email" /></a>
		</dd>

		<dt>Webmaster</dt>
		<dd>Ing. Simone Saviolo
			<a href="mailto:simone.saviolo@gmail.com"><Icon name="ui-email" /></a>
		</dd>
	</dl>

	<p>
		I RESPONSABLI OPERATIVI DEI SINGOLI PROGETTI in corso di realizzazione 
		sono nominati di volta in volta dal Comitato Direttivo.
	</p>

	<h3>Documenti dell'associazione</h3>
	<ul class="documents">
		<li>Dati amministrativi <a href="/docs/dati-amministrativi-la-rete.pdf" target="_blank"><Icon name="download" /></a></li>
		<li>Statuto <a href="/docs/statuto-la-rete.pdf" target="_blank"><Icon name="download" /></a></li>
	</ul>
</Layout>

<style>
	dl {
		display: flex;
		flex-direction: column;

		dt {
			font-weight: 700;
			margin-top: 1rem;
		}

		dd {
			margin: 0;
			margin-left: 1rem;
			
			a {
				margin-left: 0.5rem;
				color: var(--color-primary);
			}
		}
	}

	ul.documents {
		list-style: none;
		padding: 0;

		li {
			margin-bottom: 0.5rem;

			a {
				margin-left: 0.5rem;
				color: var(--color-primary);
			}
		}
	}
</style>
